<div class="row visbox-group">
  <div class="col-lg-8 vis-box" 
        style="background-image: url('/{{ this.backgroundimage1 }}')">
    <div class="description-group">
      <h2>{{ this.item1 }}</h2>
      <p class="price">{{ this.itemprice1 }}</p>
      <p class="description">{{ this.itemdescription1 }}</p>
    </div>
  </div>
  <div class="col-lg-8 vis-box"
        style="background-image: url('/{{ this.backgroundimage2 }}')">
    <div class="description-group">
      <h2>{{ this.item2 }}</h2>
      <p class="price">{{ this.itemprice2 }}</p>
      <p class="description">{{ this.itemdescription2 }}</p>
    </div>
    
  </div>
  <div class="col-lg-8 vis-box"
        style="background-image: url('/{{ this.backgroundimage3 }}')">
    <div class="description-group">
      <h2>{{ this.item3 }}</h2>
      <p class="price">{{ this.itemprice3 }}</p>
      <p class="description">{{ this.itemdescription3 }}</p>
    </div>
  </div><!--end col-->
</div>